<!doctype html>
<html>
<head>
  <title>Equipshare User</title>
</head>
<body>
<div>

        <div class="col-sm-6 col-sm-offset-3">
          <p><a href="/new"> NEW </a></p>
          <p><a href = "/beta"> Beta </a></p>

</div>
</div>
</body>
</html>
