<!doctype html>
<html>
<head>
  <title>Equipshare User</title>
</head>
<body>
<div>

        <div class="col-sm-6 col-sm-offset-3">
        	<form action="/new_search" method="post">
      <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <!--<form action="/search" method="post">-->
          <div class="form-group">
      <label for="sel1" class="machine-select">Machine Category</label>
              	<select class = "form-control" name="category"  onchange="if(this.value!= 0) { find_subcategory(this.value);}">
              	 			<option value="">Select Category</option>	
								<% for(var i = 0;i< cat_rows.length; i++){ %> 
								<option value="<%=cat_rows[i].category%>"><%=cat_rows[i].category%> </option>
							    <%}%>
						    </select>      
                    </div>
          </div>
          
         
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="form-group">
              <label for="sel1" class="machine-select">Machine Sub - Category</label>
               	<select id ='subcat' class = "form-control" name="subcategory"  list="subcat"  autocomplete="off"  required ></select> 
          </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <!--button type="submit" class="btn btn-success custom-upper-btn" >Add Equipment</button-->
      <input type="submit" class="btn btn-success custom-upper-btn" value="SEARCH">
                    </div>
                  </div>

                </div>
             <!-- </form> -->
                
          </div>
              
      </div>
      </form>

</div>
</div>

<script type="text/javascript">

function find_subcategory(val){
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && (this.status == 200 || this.status == 304)) {
  
  var subcat=new Array();
  subcat=JSON.parse(this.responseText);

  
  var select = document.getElementById('subcat');
       for(var i = select.options.length - 1 ; i > 0 ; i--) {
         select.remove(i);
        }
  
  for(var i=0;i<subcat.length;i++) { 
            option = document.createElement('option');
            option.value =subcat[i].subcategory ;
            option.text = subcat[i].subcategory ;
            select.appendChild(option);
     }
    }
  };
  xhttp.open("GET", "/search_category?category="+val,true);
  xhttp.send();
}

</script>
</body>
</html>
