<!doctype html>
<html>
<head>
  <title>Equipshare User</title>
</head>
<body>
<h3>dashboard</h3>
<p><a href="/user_saved_searches">Saved Searches</a></p>
<p><a href="/user_my_requests">My likes</a></p>
<p><a href=""></a></p>
<p><a href=""></a></p>
</body>
</html>