<!doctype html>
<html>
<head>
  <title>Equipshare User</title>
</head>
<body>
<h3>details</h3>

	<p>
		<%=equip_data[0].subcategory%>, <%=equip_data[0].brand%>,  <%=equip_data[0].model%> 
		<a href="/user_requestt<%=equip_data[0].type_id%>"><button>Request</button></a>
	</p>

</body>
</html>