<!doctype html>
<html>
<head>
  <title>Equipshare User</title>
</head>
<body>
	<h3>dashboard/table</h3>
	<p>
		<table>
			<tr>
				<th>date</th>
				<th>subcategory</th>
			</tr>
			<%for(var i = 0 ; i < datarows.length; i++){%>
			<tr>
				<td><%=datarows[i].date%></td>
				<td><a href="#"><%=datarows[i].subcategory%></a></td>
			</tr>
			<%}%>
		</table>		
		
	</p>

</body>
</html>